import React from 'react';
import { Helmet } from 'react-helmet-async';
import {{name}}Context from './{{name}}Context';

const {{name}} = (): React.ReactElement => (
  <{{name}}Context.Provider value=\{{}}>
    <Helmet>
      <title>{{name}}</title>
      <meta name="description" content="Description of {{name}}" />
    </Helmet>
    <div>{{name}}</div>
  </{{name}}Context.Provider>
);

export default {{name}};
